/*
Petmily Project
작성자 : 엄병수
최종 수정일 : 2022. 03. 03
 */


/* 기본세팅 */
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: #f6f8f9;
}

a {
    text-decoration: none;
    color: #343638;
}

ul {
    list-style: none;
}

body {
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f6f8f9;
}

.space {
    clear: both;
}

.inner {
    width: 1280px;
    margin: 0 auto;
}

.bar_nav {
    display: flex;
    justify-content: space-between;
    margin: 0 0 42px;
    padding: 18px 21px 17px;
    background-color: #f6f8f9;
}

.nav_menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.nav_menu li {
    padding: 8px 30px;
}

.title_register {
    width: 360px;
    height: 28px;
    margin: 0 0 18px;
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.title_product {
    width: 306px;
    height: 25px;
    margin: 0 0 6px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #202124;
}

.txt_register {
    height: 13px;
    margin: 0 245px 8px 0;
    font-family: AcuminPro, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #202124;
}

.txt_footer {
    height: 13px;
    margin: 0 64.6px 10px 41.9px;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #cbd0d3;
}

.divider {
    width: 40px;
    height: 0;
    margin: 18px 160px 0;
    border: solid 2px #fa6980;
}

.comment {
    width: 360px;
    height: 42px;
    margin: 20px 0 0;
    font-family: Helvetica sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.field {
    width: 360px;
    height: 40px;
    margin: 8px 0 0;
    border-radius: 6px;
    border: solid 2px #ebeded;
    background-color: #fff;
}

.btn_register {
    margin-top: 8px;
}

.btn_banner {
    width: 273px;
    height: 67px;
    padding: 27px 77px 20px 78px;
    border-radius: 4px;
    background-color: #fa6980;
}

.SUBSCRIBE {
    width: 118px;
    height: 20px;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.menu-icon {
    width: 16px;
    height: 14px;
    margin: 0 12px 1px 0;
    background-color: #f6f8f9;
    border: none;
}

.PETMILY {
    width: 56px;
    height: 13px;
    margin: 0 1005px 0 0;
    font-family: Helvetica sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.login {
    width: 1160px;
    height: 1011px;
    margin: 42px 140px 69px;
    padding: 45px 400px 63px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.base {
    height: 160px;
    margin: 69px 0 0;
    padding: 56px 138.8px 66px 142px;
    background-color: #a6adb4;
}


/* footer */
#footer {
    width: 100%;
    height: 260px;
    background-color: #a6adb4;
    bottom: 0;
}

.top_footer {
    width: 100%;
    height: 73px;
    line-height: 73px;
    border-bottom: 1px solid #a6adb4;
    font-size: 12px;
    color: #5e605d;
}

.banner_petmily {
    margin: 0 69px 130px 206px;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #fff;
}

#tab-menu.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
#tab-menu.nav-tabs {
    border-bottom: 1px solid #ddd;
}
#tab-menu.nav-tabs a {
    display:block;
    margin-bottom: -1px;
    margin-right:-1px;
    color:#333;
    border: 1px solid #ddd;
}
#tab-menu.nav-tabs a:hover,
#tab-menu.nav-tabs a:focus {
    background-color: #ddd;
}
#tab-menu.nav-tabs a.active,
#tab-menu.nav-tabs a.show {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
#tab-content.tab-content {
    border:1px solid #ddd;
    border-top: 0;
    background-color:#efefef
}
@media (max-width:767px) {
    #tab-menu.nav-tabs a {
        padding: 0.5rem 1rem;
    }
    #tab-content.tab-content {
        padding:20px;
    }
    #tab-content .tab-pane .item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    #tab-content.tab-content .doc-title {
        padding-bottom: 10px;
    }
    #tab-content.tab-content .tab-pane .item1 {
        padding-bottom: 20px;
    }
}
@media (min-width:768px) {
    #tab-menu.nav-tabs a {
        padding: 1rem 1.5rem;
    }
    #tab-content.tab-content {
        padding:40px;
    }
    #tab-content .tab-pane .item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    #tab-content.tab-content .doc-title {
        padding-bottom: 20px;
    }
    #tab-content.tab-content .tab-pane .item1 {
        padding-right: 50px;
    }
}
@media (min-width:1200px) {
    #tab-content.tab-content .tab-pane .cnt {
        padding-right: 100px;
    }
}
#tab-content.tab-content > .tab-pane {
    display: none;
}
#tab-content.tab-content > .active {
    display: block;
}
.mustbe .fade {
    transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
    .mustbe .fade {
        transition: none;
    }
}
.mustbe .fade:not(.show) {
    opacity: 0;
}



/* 마이페이지 탭 */

#tab-menu.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
#tab-menu.nav-tabs {
    border-bottom: 1px solid #ddd;
}
#tab-menu.nav-tabs a {
    display:block;
    margin-bottom: -1px;
    margin-right:-1px;
    color:#333;
    border: 1px solid #ddd;
}
#tab-menu.nav-tabs a:hover,
#tab-menu.nav-tabs a:focus {
    background-color: #ddd;
}
#tab-menu.nav-tabs a.active,
#tab-menu.nav-tabs a.show {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
#tab-content.tab-content {
    border:1px solid #ddd;
    border-top: 0;
    background-color:#efefef
}
@media (max-width:767px) {
    #tab-menu.nav-tabs a {
        padding: 0.5rem 1rem;
    }
    #tab-content.tab-content {
        padding:20px;
    }
    #tab-content .tab-pane .item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    #tab-content.tab-content .doc-title {
        padding-bottom: 10px;
    }
    #tab-content.tab-content .tab-pane .item1 {
        padding-bottom: 20px;
    }
}
@media (min-width:768px) {
    #tab-menu.nav-tabs a {
        padding: 1rem 1.5rem;
    }
    #tab-content.tab-content {
        padding:40px;
    }
    #tab-content .tab-pane .item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    #tab-content.tab-content .doc-title {
        padding-bottom: 20px;
    }
    #tab-content.tab-content .tab-pane .item1 {
        padding-right: 50px;
    }
}
@media (min-width:1200px) {
    #tab-content.tab-content .tab-pane .cnt {
        padding-right: 100px;
    }
}
#tab-content.tab-content > .tab-pane {
    display: none;
}
#tab-content.tab-content > .active {
    display: block;
}
.mustbe .fade {
    transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
    .mustbe .fade {
        transition: none;
    }
}
.mustbe .fade:not(.show) {
    opacity: 0;
}


/* mypage 테이블 */
table.ds-table {
    border-collapse: separate !important;
    border-top: 1px solid #000;
    border-bottom: 1px solid #bebebe;
    background-color: #fff;
}
table.ds-table th,
table.ds-table td {
    padding: 10px 10px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
table.ds-table tbody tr:last-child th,
table.ds-table tbody tr:last-child td {
    border-bottom: 0;
}
table.ds-table tr th:last-child,
table.ds-table tr td:last-child {
    border-right: 0;
}
table.ds-table .title {
    text-align: center;
}

/* only for .bg-light */
table.ds-table .bg-light {
    background-color: #f4f4f4;
    color: #333;
}

.t_margin_auto {
    margin: auto;
}

.edit {
    width: 100px;
    margin: auto;
    display: block;
}

#body-wrapper {
    min-height: 100%;
    position: relative;
}

#body-content {
    margin-top: 100px;
    padding-bottom: 260px; /* footer의 높이 */
}

footer {
    width: 100%;
    height: 260px; /* footer의 높이 */
    position: absolute;
    bottom: 0;
    left: 0;
}